.md-tabs {
  background-color: #ebf9f9;
}

.md-tabs__link {
  color: black;
  font-weight: bold;
}

h2 {
  color: #00827f;
  font-weight: bold;
}

.md-footer {
  background-color: #c4eced;
  color: black;
}
